
<footer class="{{ .Site.Params.background_color_class | default "bg-black" }} bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} {{ .Site.Title }}
  </a>

    <div class="flex justify-between">
        {{ if .Site.Menus.footer }}
  {{ range .Site.Menus.footer }}
    <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .URL }}" title="{{ .Name }} page">
      {{ .Name }}
    </a>
  {{ end }}
{{ end }}  
      
      {{ partial "social-follow.html" . }}</div>
  </div>
</footer>

