{{ define "main" }}
  <article class="cf ph3 ph5-l pv3 pv4-l f4 tc-l center measure-wide lh-copy mid-gray">
    {{ .Content }}
  </article>

  <section class="mw7 center avenir">
    <h2 class=" fw1 ph3 ph0-l">Research Projects</h2>
  {{ range .Site.Data.research }}
  <article class="bt bb b--black-10">
      <a class="db pv4 ph3 ph0-l no-underline black dim" href="#0">
          <div class="flex flex-column flex-row-ns">
      {{ if .featured_image }}<div class="pr3-ns mb4 mb0-ns w-100 w-40-ns"><img alt="{{ .title }} logo" src="{{ $.Site.BaseURL }}{{ .featured_image }}" /></div> {{ end }}
      <div class="w-100 w-60-ns pl3-ns">
      <h2 class="f3 fw1  mt0 lh-title">{{ .title }}</h2>
      <div class="f6 f5-l lh-copy">{{ .summary }}</div>
    </div>
    </div>
    </a>
  </article>
  {{end}}
</section>


  {{/* Define a section to pull recent posts from. For Hugo 0.20 this will default to the section with the most number of pages. */}}
  {{ $mainSections := .Site.Params.mainSections | default (slice "post") }}
  {{/* Create a variable with that section to use in multiple places. */}}
  {{ $section := where .Site.RegularPages "Section" "in" $mainSections }}
  {{/* Check to see if the section is defined for ranging through it */}}
  {{ $section_count := len $section }}
  {{ if ge $section_count 1 }}
    {{/* Derive the section name  */}}
    {{ $section_name := index (.Site.Params.mainSections) 0 }}

    <div class="mw7 center avenir">
      
      {{/* Use $section_name to get the section title. Use "with" to only show it if it exists */}}
       {{ with .Site.GetPage "section" $section_name }}
       <h2 class=" fw1 ph3 ph0-l">
            {{ $.Param "recent_copy" | default (i18n "recentTitle" .) }}
          </h2>
        {{ end }}

      {{ $n_posts := $.Param "recent_posts_number" | default 4 }}

      <section class="w-100">
        {{/* Range through the first $n_posts items of the section */}}
        {{ range (first $n_posts $section) }}
          <div class="relative w-100 mb4">
            {{ partial "summary-with-image.html" . }}
          </div>
        {{ end }}
      </section>

      {{ if ge $section_count (add $n_posts 1) }}
      <section class="w-100">
        <div class="db pv4 ph3 ph0-l no-underline dark-gray">
        <h2 class="f3">{{ i18n "more" }}</h2>
        {{/* Now, range through the next four after the initial $n_posts items. Nest the requirements, "after" then "first" on the outside */}}
        {{ range (first 4 (after $n_posts $section))  }}
          <h2 class="f5 fw4 mb4 dib mr3">
            <a href="{{ .URL }}" class="link black dim">
              {{ .Title }}
            </a>
          </h2>
        {{ end }}

        {{/* As above, Use $section_name to get the section title, and URL. Use "with" to only show it if it exists */}}
        {{ with .Site.GetPage "section" $section_name }}
          <a href="{{ .URL }}" class="link db f6 pa2 br3 bg-mid-gray white dim w4 tc">{{ i18n "allTitle" . }}</a>
        {{ end }}
      </div>
        </section>
      {{ end }}
    </div>
    <div class="mw7 center avenir">
      <section class="w-100">

        <div id="theme-tagcloud" class="db pv4 ph3 ph0-l no-underline dark-gray">
            <h2 class="f3">{{ i18n "tagcloud" }}</h2>
            {{ $tags := $.Site.Taxonomies.tags.ByCount }}
            {{ $v1 := where $tags "Count" ">=" 3 }}
            {{ $v2 := where $v1 "Term" "not in" (slice "hugo" "tags" "rss") }}
            {{ range $v2 }}
            {{ if .Term }}
            {{ $tagURL := printf "tags/%s" .Term | relURL }}
            <a href="{{ $tagURL }}" class="f{{ .Count }} link dim ph3 pv2 mb2 dib" role="button" style="text-transform: uppercase;" >{{ .Term }} <span class="badge">({{ .Count }})</span></a>
            {{ end }}
            {{ end }}
        </div>
      </section>
    </div>
      
  {{ end }}
{{ end }}
