<div>
    <canvas id="{{ .Get "id"}}" width="{{ .Get "width" }}" height="{{ .Get "height" }}"></canvas>
    {{ if .Get "data" }}
    <script src="{{ .Get "data" }}"></script>
    <script src="/js/drawChart.js"></script>
    {{ end }}
</div>