
  <div class="responsive-embed">
    <table class="collapse ba br2 b--black-10 pv2 ph3">
    
        {{ $url := .Get "url" }}
    {{ $sep := "," }}
    {{ range $i, $r := getCSV $sep $url }}
         <thead><tr>
        {{ if eq $i 0 }}
        {{ range $r }}
        <th class="pv2 ph3 tl f6 fw6 ttu">{{ . }}</th>
        {{end}}
        {{end}}</tr>
        </thead>
        {{ if ge $i 1 }}
        <tr>
            {{ range  $r }}
            <td class="pv2 ph3">{{ . }}</td>
            {{end}}
        </tr>
        {{end}}
        {{ end }}
    </table>
    </div>